.hero-background-img {
  /* content: ""; */
  /* position: static; */
  background-image: url("hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85%;
  
  /* padding-top: 200px;   */
  padding-bottom: 700px;
}
.p-1 {
  color: #8860E1;
  background-color: #F0D7C1;
}
